<nav class="grey darken-2 right hide-on-med-and-down">
    <div class="nav-wrapper container">
        <ul>
            <li><a asp-page="./Register">Register</a></li>
            <li><a asp-page="./Query">Query</a></li>
            <li><a asp-page="./Report">Report</a></li>
        </ul>
    </div>
</nav>